<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <title>My Website - About</title>
     <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
<h1> Corey Anderson </h1>
<p> I am 21 years old , very easy going but also easily iritated im abitious and 
    only trying to make the best out of life. I am introverted and hate crowds
    i like playing games and staying around people im familiar with 
    and i am aiming for an A in this course.
</p>
</body>
</html>
